<h1>Les ressources pédagogiques</h1>

{% if object_list %}
<ul>
    {% for course in object_list %}
    <li>{{ course }}
        <br><small>{{ course.description }}</small>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Aucune tâche !</p>
{% endif %}
